<div class="list row">

    <div class="col-md-12">
      
     
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by Importacion"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div  class="col-md-12">
      <h4>Importaciones List</h4>
       
        <div 
        >
        <table >
        <tr>
            <th>
                Nro.
            </th>
            <th>
                Proforma
            </th>
            
            <th>
                Invoice No.
            </th>
            <th>
                Invoice BL
            </th>
            <th>
              BL
            </th>
            <th>
                CONTENEDOR
            </th>
            <th>
              LIQUIDACION
            </th>
            <th>
                FECHA DE EMBARQUE CHINA
            </th>
            <th>
                FECHA DE SALIDA DE PUERTO CHINA
              </th>
              <th>
                FECHA LLEGADA A GUAYAQUIL
              </th>
              <th>
                FECHA DE SALIDA DE ADUANA
              </th>
              <th>
                FECHA ARRIBO EN BODEGA IMPORTACIONES
              </th>
              <th>
                FECHA LIQUIDACION
              </th>
            <th>
                Accion
            </th>
        </tr>
            <tr *ngFor="let tutorial of tutorials; let i = index"
            [class.active]="i == currentIndex" >
           <td  >
            {{ tutorial.id }}
            </td>
          <td  >
            {{ tutorial.codigo }}
          </td>
          <td   >
            {{ tutorial.descripcion }}
          </td>
          <td>
            {{ tutorial.cantidad }}
          </td>
          <td>
            <button (click)="setActiveTutorial(tutorial, i)">ver</button>
            <a class="badge badge-warning"
            routerLink="/tutorialsd/{{ currentTutorial.id }}">
            Edit
          </a>
          </td>
        </tr>
      </table>
        </div>
      
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
        Remove All
      </button>
    </div>
    <div class="col-md-4">
      <app-tutorial-details
        [viewMode]="true"
        [currentTutorial]="currentTutorial"
      ></app-tutorial-details>
    </div>
</div>